4ID3/Lab 2 Wifi/L01B/flows.json
[
    {
        "id": "b20df25cfd6ff1b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75279897f4e1ac2e",
        "type": "mqtt in",
        "z": "b20df25cfd6ff1b0",
        "name": "",
        "topic": "4ID3_GroupA/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84fb970f02a7c9d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "7d55348593b5bc07",
                "6173bdf508de95d2"
            ]
        ]
    },
    {
        "id": "efb3471ea37a26fe",
        "type": "mqtt in",
        "z": "b20df25cfd6ff1b0",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84fb970f02a7c9d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "adff43450fdbcccd",
                "84a8ce774bb6c53d"
            ]
        ]
    },
    {
        "id": "50770fed78aaa318",
        "type": "mqtt in",
        "z": "b20df25cfd6ff1b0",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84fb970f02a7c9d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "b669ac4b988849f8",
                "d56d76759fae974b"
            ]
        ]
    },
    {
        "id": "18d27d7df29edcf2",
        "type": "mqtt in",
        "z": "b20df25cfd6ff1b0",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84fb970f02a7c9d4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "85879df1ac30df77",
                "d16d7334200f1ec5"
            ]
        ]
    },
    {
        "id": "7d55348593b5bc07",
        "type": "debug",
        "z": "b20df25cfd6ff1b0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "adff43450fdbcccd",
        "type": "debug",
        "z": "b20df25cfd6ff1b0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "b669ac4b988849f8",
        "type": "debug",
        "z": "b20df25cfd6ff1b0",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "85879df1ac30df77",
        "type": "debug",
        "z": "b20df25cfd6ff1b0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "6173bdf508de95d2",
        "type": "ui_chart",
        "z": "b20df25cfd6ff1b0",
        "name": "Temperature",
        "group": "18dc9f78c8416e4d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2c73a5",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "84a8ce774bb6c53d",
        "type": "ui_chart",
        "z": "b20df25cfd6ff1b0",
        "name": "Humidity",
        "group": "18dc9f78c8416e4d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#a62121",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d56d76759fae974b",
        "type": "ui_chart",
        "z": "b20df25cfd6ff1b0",
        "name": "Pressure",
        "group": "18dc9f78c8416e4d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d16d7334200f1ec5",
        "type": "ui_chart",
        "z": "b20df25cfd6ff1b0",
        "name": "Light",
        "group": "18dc9f78c8416e4d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "84fb970f02a7c9d4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.45.133",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "18dc9f78c8416e4d",
        "type": "ui_group",
        "name": "Default",
        "tab": "f2d8e0e7919bf78e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2d8e0e7919bf78e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]